.side_menu-container {
    height: 100%;
    width: auto;
    position: absolute; // positioned relatively to nearest positioned (not static) ancestor
    top: 0;
    left: 0;
}

.side_menu {
    background-color: cyan;

    height: 100%;
    float: left;
    width: 200px;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    .side_menu-item {
        background-color: bisque;
    }
}

@media only screen and (max-width: 600px) {
    .side_menu-container {
        width: 100%;
    }

    .side_menu {
        width: 100%;
    }
}



// Animations
.side_menu {
    transition: margin 300ms;
}